.menu-logo {
	z-index:10000;
	padding: 10px;
	position: absolute;
	height: auto;
	margin-left: 15px;
	background: white;
}

img {
	margin: auto;
}

.dark {
	color:#fff;
}

#contact {
	background:#101010;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer footer {
  max-width: 1400px;
  margin: auto;
}

.social {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.social img {
  margin: 20px 10px 10px 10px;
}

#gallery .thumbnail_img {
	max-height: 214px;
	overflow: hidden;
}

@media (max-width: 767px) {
	.gallery .thumbnail {
		height: auto;
	}	
}

@media (min-width: 768px) {
	.gallery .thumbnail {
		height: 380px;
	}	
}

@media (min-width: 992px) {
	.gallery .thumbnail {
		height: 410px;
	}	
}